{
  "jsc": {
    "target": "es2021",
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    }
  },
  "module": {
    "type": "commonjs" // 또는 esnext
  }
}
